html, body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.grid-9{
	width: calc(100% - 40px);
	height: 100%;
	padding: 20px;
}
.grid-9 > div{
	width: calc(94% / 3);
	height: calc(94vw / 3);
	background-color: #FFA600;
	float: left;
	margin: 1%;
	border-radius: 5%;
}
