html, body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.grid-9{
	width: calc(100% - 40px);
	height: 100%;
	padding: 20px;
}
.grid-9 > div{
	width: calc(100% / 3 - 2%);
	float: left;
	border-radius: 5%;
	margin: 1%;
}
.grid-9 > div > div{
	padding-top: 100%;
	width: 100%;
	background-color: #FFA600;
	border-radius: 5%;
}
