:root{
	--main-color: #5fc0cd;
}
html{
	font-size: 625%;
}
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body{
	font-family: arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 0.14rem;
	overflow: hidden;
	color: #333;
	line-height: 1.5;
}

/*text-color*/
.text-danger{
	color: #e87777;
}
/*text-color end*/

/*text-size*/
.text-12{
	font-size: 0.12rem;
}
.text-14{
	font-size: 0.14rem;
}
.text-16{
	font-size: 0.16rem;
}
/*text-size end*/

/*vertical-line*/
.line, .ver-line, .ver-line-gradient{
	position: relative;
	display: block;
}
.line:after{ /*默认为100%*/
	content: '';
	height: 1px;
	width: 100%;
	background-color: #e1e5e7;
	position: absolute;
    bottom: 0;
    left: 0;
}
.ver-line:after{ 
	content: '';
	height: 0.2rem;
	width: 1px;
	background-color: #e1e5e7;
}
.ver-line-gradient:after{ 
	content: '';
	height: 0.2rem;
	width: 1px;
	/*background-image: linear-gradient(white, #e1e5e7, white);*/
	background-image: linear-gradient(white, #789798, white);
	position: absolute;
	right: 0;
}
/*vertical-line end*/

/*header start*/
.header{
	height: 0.45rem;
	width: calc(100% - 0.3rem);
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--main-color);
	font-size: 0.16rem;
	color: #fff;
	padding: 0 0.15rem;
}
.header > *{
	position: absolute;
	height: 0.45rem;
	line-height: 0.45rem;
	color: #fff;
}

.header > .left-text{
	width: 0.5rem;
	left: 0.15rem;
}
.header > .right-text{
	width: 0.5rem;
	right: 0.15rem;
	text-align: right;
}
.header > div.title{
	width: calc(100% - 1.3rem);
	left: 0.65rem;
	text-align: center;
}
/*header end*/

/*container*/
.container{
	overflow: hidden;
}
.container-header{
	padding-top: 0.45rem;
}
.container-footer{
	padding-bottom: 0.45rem;
}
.scroll{
	height: 100%;
	overflow-y: auto;
}
/*container end*/

/*btn*/
.btn{
	color: #fff;
	background: transparent;
	border: none;
	padding: 0.08rem 0.16rem;
	border-radius: 4px;
	font-size: 0.16rem;
}
.btn-group{
	background-color: #55a8b3;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
.btn-group > .btn{
	border-radius: 0;
}
.btn-group > .btn:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.btn-active{
	color: var(--main-color);
	background-color: #fff;
}
/*btn end*/

/*icon*/
i.icon{
	background-image: url(../images/css_sprites_task6.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.icon-position{
	width: 0.42rem; 
	height: 0.44rem;
    background-position: -0.1rem -0.1rem;
    transform: scale(0.5);
    position: absolute;
    left: 0.2rem;
}
/*icon end*/

/*select*/
.select-group{
	display: flex;
	padding: 0 0.1rem;
}
select{
	background: transparent;
	border: none;
	padding: 0.08rem 0.16rem;
	border-radius: 4px;
	font-size: 0.14rem;
	color: #afbac0;
}
/*select end*/

/*col*/
.col-12{
	width: 100%;
}
.col-11{
	width: calc(100% / 12 * 11);
}
.col-10{
	width: calc(100% / 12 * 10);
}
.col-9{
	width: calc(100% / 12 * 9);
}
.col-8{
	width: calc(1100% / 12 * 8);
}
.col-7{
	width: calc(100% / 12 * 7);
}
.col-6{
	width: calc(100% / 2);
}
.col-5{
	width: calc(100% / 12 * 5);
}.col-4{
	width: calc(100% / 3);
}.col-3{
	width: calc(100% / 4);
}.col-2{
	width: calc(100% / 6);
}.col-1{
	width: calc(100% / 12);
}

/*col end*/