html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	display: block;
}
.container{
	width: 50%;
	background-color: #ef9683;
	height: 50vw;
}
.container1{
	width: 100%;
	padding-bottom: 100%;
	background-color: darkcyan;
	height: 0;
}
.container2{
	width: 100%;
	overflow: hidden;
	background-color: #FFA600;
	max-height: 100px;
}
.container2:after{
	content: '';
	display: block;
	margin-top: 100%;/* margin 百分比相对父元素宽度计算 */
}
